body {
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    margin-left: 30px;
}

h3 {
    margin-left: 60px;
}

h4, article {
    margin-top: 10px;
    margin-left: 90px;
}

h4 {
    margin-bottom: 0px;
}

article.substory {
    margin-left: 120px;
}
